<%- include ../partials/header.ejs %>

  <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
  </div>

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1 class="display-4">Hello, world!</h1>
    <h1> Nishat Bagga <img src="./Assets/Images/NBlogo.jpg" alt="NBlogo" height="50px" width="50px"> </h1>
    <p class="lead">This page gives the full outlook and Information about Nishat Bagga.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a id="AboutButton" class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
    <br>
    <b> <footer id="footer">copyright - @BAGGANISHAT - Assignment4</footer> </b>
    </div>
  

<%- include ../partials/footer.ejs %>
  